#wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

#logo{
  text-align: center;
  margin: 0;
  padding-right: 10px;
}

body {
  background-color: gray;
  font-family: cursive, monospace;
}
header {
  background-color: gray;
}

header{
  float: left;
  margin: 0 0 0px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

nav{
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0px;
}
nav {
  background: gray;
}


nav a, nav a:visited: {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: white;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li{
  display: inline-block;
}

nav a{
  font-weight: 800;
  padding: 10px 5px;

}

h1{
  font-family: 'Rock Salt', cursive;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: inherit;
  line-height: 0.8em;
  font-weight: bold;
}

h2{
  font-family: 'Rock Salt', cursive;
  font-size: .07em;
  margin: -5px 0 0;
  font-weight: inherit;
}

a {
  color: black;
}

img {
  max-width: 100%;
  border-radius: 20%;
}

h3{
  margin: 0 0 1em 0;
}


footer{
  text-align: center;
  padding-top: 50px;
  clear: both;
}

.social-icon{
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.contact-info{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li#phone a{
  background-image: url('../images/phone.png');
}

.contact-info li#mail a{
  background-image: url('../images/email.png');
}

#gallery{
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li{
  float: left;
  width: 45%;
  margin: 2.5%;
}
#gallery li a p{
  margin: 0;
  padding: 5%;
  font-size: 0.90em;
}
#gallery li a img:first-child{
  background-color: black;
}

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 20%;
}
